<div>
  <h1> Almacén Susllantas </h1>
  <div>
    <p>Crear evento de Carro</p>
    <%= button_to "Crear evento", new_event_path, method: :get %>
    <p>Crear carro</p>
    <%= button_to "Crear carro", new_car_path, method: :get %>
    <p>Crear cliente</p>
    <%= button_to "Crear cliente", new_client_path, method: :get %>
  </div>
</div>