<div id="<%= dom_id car %>">
  <p>
    <strong>Placa:</strong>
    <%= car.plate %>
  </p>

  <p>
    <strong>Descripción del carro:</strong>
    <%= car.description %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= Client.find(car.client_id).name %>
  </p>

</div>
